/* html {
    color: #0F2600, #6B4B28, #D5AD48, #CEC8AB, #A2604F;
} */





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    text-transform: uppercase;
}


#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
    text-transform: uppercase;

}

#nav-bar ul li a:hover {
    color: #A2604F !important;

}

.navbar {
    background-color: #D5AD48;
}

.navbar-toggler {
    border: none !important;
}




/* video */
body {
    background-color: #faf0e6;
    overflow-x: hidden;
    color: #efefef;
    text-align: center;

}

.video-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #efefef;
}

.wrap {
    max-width: 960px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    text-align: center;

}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;

}

.header-overlay {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(31, 12, 7, 0.548);
    opacity: 0.8;
    object-fit: cover;


}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

/* @media (max-width: 1060px) {
    .header-overlay {

        height: calc(100vh + 40px);
    } */

.header-content {
    z-index: 2;
    margin-top: 20%;
    padding: 0 5rem;

}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    margin-top: 10px;
}



.my-btn,
.btn-primary {
    background-color: rgb(71, 73, 70);
    border-color: #A2604F;
    padding: 0.8rem 1.2rem;
    border-radius: 0%;
    width: 200px;
    height: 50px;

}

.my-btn:hover,
.btn-primary:hover {
    background-color: rgba(213, 173, 72, 0.438);
    border: 1px solid #0F2600;
    color: rgb(41, 36, 36);
}

/* video end */

/* about  */
#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #0F2600;
    transition: 0.5s;
}

.btn.btn-primary {
    background-color: rgb(71, 73, 70);
    border-color: #A2604F;
    padding: 0.8rem 1.2rem;
    border-radius: 0%;
    width: 200px;
    height: 50px;
}

.btn.btn-primary:hover {
    background-color: rgba(213, 173, 72, 0.438);
    border: 1px solid #0F2600;
    color: rgb(41, 36, 36);
}

.about-content {
    padding-top: 20px;
}

#about h2::after {
    content: '';
    background-color: #0F2600;
    display: block;
    height: 2px;
    width: 160px;
    margin: 15px auto 5px;
}

/* about end */


/* services */
#services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(img/cheese-2785_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
}

#services h1 {
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}

#services h1::after {
    content: '';
    background-color: #efefef;
    display: block;
    height: 2px;
    width: 160px;
    margin: 15px auto 5px;
}

/* services end */

.services {
    margin-top: 40px;
}

.icon {
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin: 10px auto;
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
}

#services p {
    font-size: 0.8rem;
    margin-top: 20px;
}

.services .col-md-4 {
    transition: 0.6s ease;
}

.services .col-md-4:hover {
    background-color: rgba(162, 96, 79, 0.404);
    cursor: pointer;

}

/* team */
#team {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #0F2600;
}

#team h1 {
    text-align: center;
    padding-bottom: 10px;
}


#team h1::after {
    content: '';
    background-color: #0F2600;
    display: block;
    height: 2px;
    width: 160px;
    margin: 15px auto 5px;
}

.crew-pic {
    margin-top: 50px;
    width: 100%;

}



.crew-pic .pic-box {
    opacity: 1;
    display: block;
    position: relative;


}

.crew-pic .pic-box img {
    filter: sepia(1);
    height: 220px;
    overflow: hidden;
    border-radius: 25px;
}

.crew-pic .pic-box img:hover {
    filter: sepia(0);
    cursor: pointer;
}

.crew-pic h3 {
    margin-top: 15px;
}

.crew-pic h4 {
    margin-top: 15px;
}


.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid rgba(162, 96, 79, 0.918);
}

/* team end */

/* prices */
#prices {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cheese-3652274_1920.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef;
    padding-top: 150px;
    padding-bottom: 120px;
    background-attachment: fixed;
    text-align: center;
}



/* prices end */

/* contact */
#contact {
    background-color: #faf0e6;
    color: #0F2600;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-form {
    padding: 20px;
}

.form-control {
    border: none !important;
    border-radius: 0 !important;
}

::placeholder {
    color: #A2604F !important;
}

.follow {
    background-color: #efefef;
    padding: 20px;

}

/* contact end */

#footer {
    background-color: #0F2600;
    color: #D5AD48;
    font-size: 1rem;
    ;
    padding: 10px;

}